@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply subpixel-antialiased;
}

/* .content overrides */

.content p {
  @apply leading-relaxed;
}

.content a {
  @apply font-bold;
}

.content a:hover {
  @apply underline;
}

/* .content p:not(:last-child) {
	margin-bottom: 0 !important;
} */

.content li ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Sticky Footer
 */

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#wrapper {
  flex: 1;
}

/* hide markdown heading anchors */

.icon.icon-link {
  display: none;
}

/* Responsive Youtube Embeds */

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.yt-frame {
  position: relative;
  aspect-ratio: 16 / 9;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  & iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

a.button:hover {
  text-decoration: none;
}
